.areas-comuns {
    margin: 0 .5em;
    background-image:
    url('../img/detalhes-plantaTipo3.png'),
    url('../img/detalhes-plantaTipo4.png'),
    url('../img/bg.png');
    background-position: left 2em top -4em,  right -10em top -3em, center;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 15%, 60%, 100%; 
}

.carrossel {
    text-align: center;
}

.swiper-wrapper {
    padding: 2em 0;
    align-items: center;
}

.swiper-button-prev, .swiper-button-next {
    background-color: var(--btn-areas);
    margin: 0 3.5em;
    border-radius: 100%;
    padding: .75em;
    filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.25));

}

.swiper-button-next::after, .swiper-button-prev::after  {
    color: var(--branco);
}

.img-areas {
    width: 70%;
    border-radius: 16px;
    border: .75em solid var(--btn-play);
    filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.25));

}

.lockers {
    width: 30%;   
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 1em 0;
}




