.menu-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    margin: 0 .5em .5em .5em;
    border-radius: 100%;
    filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.25));
    
}

.botao-img {
    width: 50px;
    height: 50px;
}

.btn-play {
    background-color: var(--btn-play);
}

.btn-play:hover {
    background-color: var(--play-hover);
}

.btn-localizacao {
    background-color: var(--btn-localizacao);
}

.btn-localizacao:hover {
    background-color: var(--localizacao-hover);
}  

.btn-ficha {
    background-color: var(--btn-ficha);
}

.btn-ficha:hover {
    background-color: var(--ficha-hover);
} 

.btn-areas {
    background-color: var(--btn-areas);
}

.btn-areas:hover {
    background-color: var(--areas-hover);
} 

.btn-plantas {
    background-color: var(--btn-plantas);
}

.btn-plantas:hover {
    background-color: var(--plantas-hover);
} 

.container-fechar {
    display: flex;
    justify-content: flex-end;
    margin: .5em 1.5em;
}

.btn-x {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-left: .5em;
    border-radius: 100%;
    filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.25));
}

.btn-inc {
    background-color: var(--btn-areas);
}

.btn-inc:hover {
    background-color: var(--areas-hover);
}

.btn-fechar {
    width: 20px;
    height: 20px;
}

.btn-diferenciais {
    font-family: var(--fonte-texto);
    margin: 1em .5em 2em .25em;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--branco);
    background-color: var(--btn-plantas);
    padding: 12px;
    border-radius: 5px;
    filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.25));
}

.btn-diferenciais:hover {
    background-color: var(--btn-localizacao);
}

.btn-local {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    font-family: var(--fonte-texto);
    margin: 1em 8em 0 .25em;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--branco);
    background-color: var(--btn-play);
    border-radius: 16px;
    filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.25));
}

.btn-local:hover {
    background-color: var(--play-hover);
} 

.btn-desenho {
    display: flex;
    justify-content: center;
    background-color: var(--btn-areas);
    color: var(--branco);
    font-family: var(--fonte-texto);
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2em 1em;
    margin: 1em;
    width: 35%;
    text-align: center;
    border-radius: 8px;
    filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.25));
}

.btn-desenho:hover {
    background-color: var(--areas-hover);
}

.btn-acabamentos {
    background-color: var(--btn-plantas);
}

.btn-acabamentos:hover {
    background-color: var(--plantas-hover);
}

.btn-detalhes {
    margin-top: 45%;
}

.img-plantas,
.img-plantas {
    width: 40px;
    height: 40px;
}



