.menu-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    margin: 0 .5em .5em .5em;
    border-radius: 100%;
    filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.25));
    
}

.botao-img {
    width: 50px;
    height: 50px;
}

.btn-play {
    background-color: var(--btn-play);
}

.btn-localizacao {
    background-color: var(--btn-localizacao);
}

.btn-ficha {
    background-color: var(--btn-ficha);
}

.btn-areas {
    background-color: var(--btn-areas);
}

.btn-plantas {
    background-color: var(--btn-plantas);
}

.btn-x {
    width: 50px;
    height: 50px;
}

.btn-fechar {
    width: 30px;
    height: 30px;
}