.ficha-tecnica {
    background-image: 
    url('../img/fachada.png'),
    url('../img/ficha-tecnica.png'),
    url('../img/bg-2.jpg');
    background-position: left -5em top -3em, right 2em top -2.5em, center;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 66%, 45%, 100%;
}

.container-diferenciais {
    display: flex;
    justify-content: flex-end;
    margin: 10em 1em 0 0;
}

.diferenciais {
    background-image: 
    url('../img/diferenciais.png'),
    url('../img/diferenciais-2.png'),
    url('../img/bg.png');
    background-position: left -5em top -3em, right top -3em, center;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 80%, 45%, 100%;
}

.sustentabilidade {
    background-image: 
    url('../img/sustentabilidade.png'),
    url('../img/seguranca.png'),
    url('../img/bg.png');
    background-position: left -3em top -3em, right top -3em, center;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 60%, 50%, 100%;
}

.praticidade {
    background-image: 
    url('../img/lockers.jpg'),
    url('../img/praticidade.png'),
    url('../img/bg-3.jpg');
    background-position: left -3em top -3em, right 3em top -3em, center;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 50%, 50%, 100%;
}
