.ficha-tecnica {
    background-image: 
    url('../img/fachada.png'),
    url('../img/ficha-tecnica.png'),
    url('../img/linhas.png'),
    url('../img/bg-2.jpg');
    background-position: left -9em top -5em, left 20em top -2.5em, right -10em center, center;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat;
    background-size: 65%, 39%, 50%, 100%;
}

.container-diferenciais {
    display: flex;
    justify-content: center;
    margin: 15em 1em 0 12em;
}

.diferenciais {
    background-image: 
    url('../img/diferenciais.png'),
    url('../img/diferenciais-2.png'),
    url('../img/bg.png');
    background-position: left -7em top -4em, right top -3em, center;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 75%, 45%, 100%;
}

.sustentabilidade {
    background-image: 
    url('../img/sustentabilidade.png'),
    url('../img/seguranca.png'),
    url('../img/bg.png');
    background-position: left -4em top -1.5em, right -3em top -6em, center;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 55%, 55%, 100%;
}

.praticidade {
    background-image: 
    url('../img/lockers.jpg'),
    url('../img/praticidade.png'),
    url('../img/bg-3.jpg');
    background-position: left -3em top -3em, left 17em top -2em, center;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 48%, 45%, 100%;
}
