.ficha-tecnica {
    background-image: 
    url('../img/fachada.png'),
    url('../img/ficha-tecnica.png'),
    url('../img/linhas.png'),
    url('../img/bg-2.jpg');
    background-position: left -7em top -4em, left 15em top -2.5em, right -4em center, center;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat;
    background-size: 48%, 35%, 50%, 100%;
}

.container-diferenciais {
    display: flex;
    justify-content: center;
    margin: 12.5em 2em 0 4em;
}

.diferenciais {
    background-image: 
    url('../img/diferenciais.png'),
    url('../img/diferenciais-2.png'),
    url('../img/bg.png');
    background-position: left -6em top -3em, right top -7em, center;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 65%, 45%, 100%;
}

.sustentabilidade {
    background-image: 
    url('../img/sustentabilidade.png'),
    url('../img/seguranca.png'),
    url('../img/bg.png');
    background-position: left -3em top -3em, right top -6em, center;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 45%, 45%, 100%;
}

.praticidade {
    background-image: 
    url('../img/lockers.jpg'),
    url('../img/praticidade.png'),
    url('../img/bg-3.jpg');
    background-position: left -3em top -3em, right 13em top -3em, center;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 40%, 40%, 100%;
}
