.incorporadoras {
    background-image: url('../img/bg.png');
    background-size: 100%;
}

.container-incorporadoras {
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.25));
    margin: 1em;
}

.container-textos {
    background-color: var(--branco);
    width: 40%;
    margin: 1em;
    padding: 1em;
}

.logo-setin {
    width: 50%;
}

.logo-sdi {
    width: 20%;
}

.titulo,
.texto {
    font-size: 21px;
}



