.Localizacao {
    background-image:
    url('../img/parque.png'),
    url('../img/texto-localizacao.png'), 
    url('../img/bg.png');
    background-position: left -10em top -1em, top left 15em , center;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 62%, 45%, 100%;
}

.container-localizacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em 0 0 10em;
}

.teste {
    display: flex;
}

.iguatemi {
    width: 500px;
    height: 150px;
} 

.lifestyle {
    background-image:
    url('../img/lifestyle.png'),
    url('../img/bg.png');
    background-position: center top -2em, center;
    background-repeat: no-repeat, repeat;
    background-size: 80%, 100%; 
}

.gastronomia {
    background-image:
    url('../img/gastronomia.png'),
    url('../img/bg.png');
    background-position: center top -2em, center;
    background-repeat: no-repeat, repeat;
    background-size: 80%, 100%; 
}

.servicos {
    background-image:
    url('../img/servicos.png'),
    url('../img/bg.png');
    background-position: center top -2em, center;
    background-repeat: no-repeat, repeat;
    background-size: 80%, 100%; 
}
