.Localizacao {
    background-image:
    url('../img/parque.png'),
    url('../img/texto-localizacao.png'), 
    url('../img/bg.png');
    background-position: left -8em top -1em, top center , center;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 47%, 40%, 100%;
}

.container-localizacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em 0 0 2em;
}

.teste {
    display: flex;
}

.iguatemi {
    width: 500px;
    height: 150px;
} 