.video-3D {
    background-image: 
    url('../img/bg.png');
    background-size: 100%;
    background-position: center;
}

.container-video {
    display: flex;
    justify-content: center;
}

.video {
    display: flex;
    width: 1280px;
    height: 720px;
    margin-bottom: 1em;
    border-radius: 20px;
    border: 5px solid var(--btn-play);
    filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.25));

}