@import url('./css/menu.css');
@import url('./css/botoes.css');

:root {
    --fonte-principal: #7D7368; 
    --btn-play: #C38875;
    --btn-localizacao: #595E28;
    --btn-ficha: #684C2F;
    --btn-areas: #7D7368;
    --btn-plantas: #BCB09D;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 3em;
    color: var(--fonte-principal);
}

