@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('./css/menu.css');
@import url('./css/botoes.css');
@import url('./css/incorporadoras.css');
@import url('./css/video.css');
@import url('./css/ficha.css');
@import url('./css/diferenciais.css');
@import url('./css/localizacao.css');


:root {
    --btn-play: #C38875;
    --btn-localizacao: #595E28;
    --btn-ficha: #684C2F;
    --btn-areas: #7D7368;
    --btn-plantas: #BCB09D;
    --branco: #ffffff;


    --cor-fonte: #7D7368;
    --fonte-titulo:'Qwitcher Grypen', cursive;
    --fonte-texto: 'Roboto', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1960px;
    height: 1080px;
    font-family: var(--fonte-titulo);
    font-size: 3em;
    color: var(--cor-fonte);
}

